---
title: Consortium
body-class: bg-darkblue
layout: default
applicants:
  - name:  Dr. Dirk von Suchodoletz
    affil: Computer Center
    inst:  Albert Ludwigs University of Freiburg
    url:   http://www.rz.uni-freiburg.de/
    role:  
      - Speaker
      - Task Area 4 Lead
  - name:  Prof. Dr. Björn Usadel
    affil: IBG-4 Bioinformatics
    inst:  
      - Jülich Research Center 
      - Heinrich Heine University Düsseldorf
    url:   https://www.fz-juelich.de/ibg/ibg-2/EN/Staff/Cell_wall_quality/Usadel_Bjoern/Usadel.html
    role:  
      - Co-Speaker
      - Task Area 1 Lead
  - name:  Dr. Jens Krüger
    affil: High Performance and Cloud Computing Group, IT Center
    inst:  Eberhard Karls University Tübingen
    url:   https://uni-tuebingen.de/en/facilities/zentrum-fuer-datenverarbeitung/the-zdv/wir-ueber-uns/mitarbeiter/jens-krueger/
    role:  
      - Co-Speaker
      - Task Area 2 Lead
  - name:  Jun. Prof. Dr. Timo Mühlhaus
    affil: Computational Systems Biology
    inst:  Technical University of Kaiserslautern
    url:   https://www.bio.uni-kl.de/organisation/mitarbeiter/m-o/muehlhaus-timo/
    role:  
    - Co-Speaker
    - Task Area 3 Lead
participants:
  - name:  Prof. Dr. Rolf Backofen
    affil: Bioinformatics
    inst:  Albert Ludwigs University of Freiburg
    url:   http://www.bioinf.uni-freiburg.de/
  - name:  Olaf Brandt
    affil: University Library
    inst:  Eberhard Karls University of Tübingen
    url:   http://ub.uni-tuebingen.de/
  - name:  Prof. Dr. Andrea Bräutigam
    affil: Computational Biology
    inst:  Bielefeld University
    url:   https://ekvv.uni-bielefeld.de/pers_publ/publ/PersonDetail.jsp?personId=112481313&lang=de
  - name:  Prof. Dr. Stefan Deßloch
    affil: Heterogeneous Information Systems
    inst:  Technical University of Kaiserslautern
    url:   http://wwwlgis.informatik.uni-kl.de/cms/his/staff/dessloch/
  - name:  Dr. Marianne Dörr
    affil: University Librarian
    inst:  Eberhard Karls University of Tübingen
    url:   http://ub.uni-tuebingen.de/
  - name:  Dr. Anika Erxleben
    inst:  Bioinformatics
    inst:  Albert Ludwigs University of Freiburg
    url:   http://www.bioinf.uni-freiburg.de/Galaxy/
  - name:  Prof. Dr. Alisdair Fernie
    affil: Central Metabolism
    inst:  Max-Planck-Institute of Molecular Plant Physiology
    url:   https://www.mpimp-golm.mpg.de/9205/Alisdair_Fernie
  - name:  Prof. Dr. Christoph Garth
    affil: Scientific Visualization Lab
    inst:  Technical University of Kaiserslautern
    url:   https://vis.uni-kl.de/people/garth
  - name:  Dr. Björn Grüning
    affil: Bioinformatics
    inst:  Albert Ludwigs University of Freiburg
    url:   http://www.bioinf.uni-freiburg.de/Galaxy/
  - name:  Petra Hätscher
    affil: Communication, Information, Media Centre (KIM) 
    inst:  University of Constance
    url:   http://www.kim.uni-konstanz.de/
  - name:  Prof. Dr. Eric Kemen
    affil: ZMBP
    inst:  Eberhard Karls University of Tübingen
    url:   https://uni-tuebingen.de/en/faculties/faculty-of-science/departments/interdepartmental-centres/center-for-plant-molecular-biology/res/microbial-interactions/people/
  - name:  Prof. Dr. Dr. hc. Edda Klipp
    affil: Theoretical Biophysics
    inst:  Humboldt University of Berlin
    url:   https://rumo.biologie.hu-berlin.de/tbp/index.php/en/people/51-people/head/52-klipp
  - name:  Prof. Dr. Ute Kraemer
    affil: Molecular Genetics and Physiology of Plants
    inst:  Ruhr University Bochum
    url:   https://www.ruhr-uni-bochum.de/mgpp/Seiten_dt/index_d.html
  - name:  Dr. Daniel Lang
    affil: Plant Genome and Systems Biology
    inst:  Helmholtz-Zentrum München
    url:   https://www.leuphana.de/en/institutes/ietsr/staff/daniel-lang.html
  - name:  Prof. Dr. Dario Leister
    affil: Plant Molecular Biology/Botany
    inst:  Ludwig Maximilians University of Munich
    url:   http://www.en.botanik.bio.lmu.de/research/leister/
  - name:  Prof. Dr. Heike Leitte
    affil: Visual Information Analytics
    inst:  Technical University of Kaiserslautern
    url:   https://via.cs.uni-kl.de/mitarbeiter/prof-dr-heike-leitte/
  - name:  Prof. Dr. Klaus F.X. Mayer
    affil: Plant Genome and Systems Biology
    inst:  Helmholtz-Zentrum München
    url:   https://www.helmholtz-muenchen.de/pgsb/
  - name:  Dr. Sven Nahnsen
    affil: Zentrum für Quantitative Biologie Tübingen (QBiC)
    inst: Eberhard Karls Universität Tübingen
    url:  https://uni-tuebingen.de/en/research/research-infrastructure/quantitative-biology-center-qbic/team0/dr-sven-nahnsen/
  - name:  Dr. Anja Oberländer
    affil: Communication, Information, Media Centre (KIM)
    inst:  University of Constance
    url:   http://www.kim.uni-konstanz.de/
  - name:  Dr. Klaus Rechert
    affil: Longterm access group
    inst:  Albert Ludwigs University of Freiburg
    url:   https://www.ks.uni-freiburg.de/mitarbeiter/klaus_rechert
  - name:  Prof. Dr. Ralf Reski
    affil: Plant Biotechnology
    inst:  Albert Ludwigs University of Freiburg
    url:   http://www.bio.uni-freiburg.de/ag/reski
  - name:  Dr. Inga Scheler
    affil: Regionales Hochschulrechenzentrum Kaiserslautern
    inst:  Technische Universität Kaiserslautern
    url:   https://www.rhrk.uni-kl.de/wir/organigramm/#c11719
  - name:  Prof. Dr. Karl Schmid
    affil: Crop Plant Biodiversity and Breeding Informatics
    inst:  University of Konstanz
    url:   http://www.uni-hohenheim.de/organisation/einrichtung/fg-mikrobielle-oekologie-bei-nutztieren
  - name:  Jun.-Prof. Dr. Sandra Schmöckel
    affil: Physiology of Yield Stability
    inst:  University of Hohenheim
    url:   https://livestock-microbial-ecology.uni-hohenheim.de
  - name:  Prof. Dr. Gerhard Schneider
    affil: Prorector
    inst:  Albert Ludwigs University of Freiburg
    url:   https://www.uni-freiburg.de/verwaltung/rektorat/prorektor-digitale-transformation   
  - name:  Prof. Dr. Waltraud Schulze
    affil: Plant Systems Biology
    inst:  University of Hohenheim
    url:   https://systembiologie.uni-hohenheim.de/en
  - name:  Prof. Dr. Thomas Walter
    affil: Computer Center
    inst:  Eberhard Karls University of Tübingen
    url:   https://uni-tuebingen.de/einrichtungen/zentrum-fuer-datenverarbeitung/das-zdv/wir-ueber-uns/mitarbeiter/prof-dr-thomas-walter/
  - name:  Prof. Dr. Andreas P. M. Weber
    affil: Institute of Plant Biochemistry
    inst:  Heinrich Heine University Düsseldorf
    url:   https://www.plant-biochemistry.hhu.de/en.html
---

<div class="container-md">
  <div class="row hero">
    <div class="col-md-12">
      <h3 class="text-white upcase">Consortium</h3>
    </div>
  </div>

  <div class="row bg-white rounded mb-4 px-3 pb-1 align-items-center">
    <div class="col-md-12 py-3">
      <h4>(Co-)Applicant Institutions</h4>
    </div>
    <div class="col-md-6 col-lg-2 text-center py-3">
      <img height="140px" src="/assets/img/logo-aluf.svg" />
    </div>
    <div class="col-md-6 col-lg-3 text-center py-3">
      <img height="55px" src="/assets/img/logo-ekut.svg" />
    </div>
    <div class="col-md-5 col-lg-3 text-center py-3">
      <img height="55px" src="/assets/img/logo-fzj.svg" />
    </div>
    <div class="col-md-7 col-lg-4 text-center py-3">
      <img height="50px" src="/assets/img/logo-tuk.svg" />
    </div>
  </div>

  <div class="row bg-white rounded my-4 px-3">
    <div class="col-md-12 py-4">
      <h4>Spokespersons</h4>      
    </div>
    {% for person in page.applicants %}
    <div class="col-md-6 col-lg-3 my-4 px-3">
      <p class="text-darkblue">
        {% for role in person.role %}
          {{ role }}<br />
        {% endfor %}
      </p>
      <a href="{{ person.url }}" alt="{{ person.name }}">
        <strong>{{ person.name }}</strong>
      </a>
      <p>{{ person.affil }}</p>
      <p>
        {% for inst in person.inst %}
          {{ inst }}<br />
        {% endfor %}
      </p>
    </div>
    {% endfor %}
  </div>

  <div class="row bg-white rounded my-4 px-3">
    <div class="col-md-12 py-4">
      <h4>Participants</h4>      
    </div>
    {% for person in page.participants %}
    <div class="col-md-6 col-lg-3 mb-4 px-3">
      <h6>
        <a class="ext" href="{{ person.url }}" alt="{{ person.name }}">
          <strong>{{ person.name }}</strong>
        </a>
      </h6>
      <p>{{ person.affil }}</p>
      <p>
        {% for inst in person.inst %}
          {{ inst }}<br />
        {% endfor %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>