<!-- Footer -->
<footer>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="w-100 order-1 order-xs-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/imprint.html">Imprint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
    </div>
  </nav>

</footer>
<!-- Footer -->