<!-- Footer -->
<footer>

  <nav class="navbar navbar-expand navbar-dark bg-dark">

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="/imprint.html">Imprint</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/privacy.html">Privacy</a>
          </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-2 order-md-2 dual-collapse2">
      <span class="navbar-text mx-auto">part of <a href="https://nfdi.de">NFDI</a></span>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="mailto:helpdesk@nfdi4plants.de">Contact</a>
            </li>
        </ul>
    </div>
  </nav>

</footer>
