<nav class="navbar navbar-default navbar-expand-sm navbar-dark bg-darkblue">

  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.svg" style="height: 3rem; margin-top: -20px; margin-bottom: -20px;">
    </img>
  </a>
   
  <div class="collapse navbar-collapse justify-content-between">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/news.html">News</a>
      <a class="nav-item nav-link" href="/resources.html">Resources</a>
      <a class="nav-item nav-link" href="/contact.html">Contact</a>
      <a class="nav-item nav-link" href="/about.html">About</a>
    </div>
  </div>
  
  <button class="navbar-toggler ml-auto" type="button" 
    data-toggle="collapse" data-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
