<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-darkblue">

  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo.svg" style="height: 3rem; margin-top: -1rem; margin-bottom: -1rem;">
    </img>
  </a>
   
  <button class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/news.html">News</a>
      <a class="nav-item nav-link" href="/resources.html">Resources</a>
      <a class="nav-item nav-link" href="/contact.html">Contact</a>
      <a class="nav-item nav-link" href="/about.html">About</a>
      <a class="nav-item nav-link pl-3" href="https://twitter.com/nfdi4plants">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/nfdi4plants">
        <i class="fa fa-github fa-lg"></i>
      </a>
    </div>
  </div>
  
</nav>
