<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-darkblue">

  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo.svg" style="height: 3rem; margin-top: -1rem; margin-bottom: -1rem;" alt="DataPLANT logo" />
  </a>
   
  <button class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/news.html">News</a>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/mission.html">Mission</a>
          <a class="dropdown-item" href="/community.html">Community</a>
          <a class="dropdown-item" href="/consortium.html">Consortium</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/mission.html">ARCs</a>
          <a class="dropdown-item" href="/community.html">Data Stewards</a>
          <a class="dropdown-item" href="/consortium.html">Services</a>
        </div>
      </li>

      <a class="nav-item nav-link" href="/contact.html">Contact</a>

      
      <a class="nav-item nav-link pl-3" href="https://twitter.com/nfdi4plants">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/nfdi4plants">
        <i class="fa fa-github fa-lg"></i>
      </a>
    </div>
  </div>
  
</nav>
