@font-face {
  font-family: 'shadows_into_light_tworegular';
  src: url('/fonts/shadowsintolighttwo-regular-webfont.woff2') format('woff2'),
      url('/fonts/shadowsintolighttwo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}