$margin: 12px;
$corner-radius: 12px;

$mint: #1FC2A7;
$white: #FEFEFE;
$black: #3A3A3A;
$darkblue: #2D3E50;
$lightblue: #4FB3D9;
$lightgray: #ECEBEB;
$yellow: #F9CD69;


// COLORS

.text-white { color: white; }

.bg-mint { background: $mint; }
.text-mint { color: $mint; }

.bg-darkblue { background: $darkblue; }
.text-darkblue { color: $darkblue; }

.bg-lightblue { background: $lightblue; }
.text-lightblue { color: $lightblue; }

.bg-lightgray { background: $lightgray; }
.text-lightgray { color: $lightgray; }

.bg-yellow { background: $yellow; }

a {
  color: black;
}

.upcase {
  text-transform: uppercase;
}

a.learn-more {
  text-align: center;
  @extend .btn, .mt-3, .px-5, .rounded-pill, .btn-outline-secondary;
}  

a.learn-more:after {
  padding-left: 1rem;
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f04b';
}  

.bg-white h3 {
  border-color: $lightgray !important;
}  

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
// MAIN CONTENT

#content {
  margin-top: 2.5rem; 
  padding-top: 1rem;
  min-height: calc(100vh - 135px);
}

// HERO BOX

.hero {

  @extend .rounded-lg, .my-md-3, .py-3, .px-2;

  h3 {
    border-bottom: 5px solid white;
    display: inline-block;
  
    @extend .mb-4, .mt-2, .px-3, .pb-1;
    margin-left: -1.45rem;
  }

  .hero-content {
    @extend .col-md-7, .align-self-center, .my-3;
  }

  .hero-image {
    @extend .col-md-5, .align-self-center, .my-3;
    img {
      max-height: 18rem;
    }
  }

  .news-item {
    @extend .col-md-6, .mb-5;
  }
}

// JOBS

.jobs
{
  .date {
    text-align: right;
  }
}

// .container-md {
//   @extend .rounded-lg, .my-md-3, .py-3;

  // .col > h4 {
  //   border-bottom: 5px solid white;
  //   display: inline-block;
  
  //   margin-left: -$spacer;
  //   padding-left: $spacer;
  //   padding-right: $spacer;
  //   padding-bottom: .5em;
  // }

  // .jobs {
  //   @extend .col-md-6, .px-4;

  //   .text {
  //     @extend .col-12;
  //   }
  // }


// }

// NEWS

// .news .row {
//   @extend .align-items-start, .rounded;
//   background: $yellow;
//   border: 1px solid red;
// }
//   .date {
//     text-justify: right;
//   }

//   h5 {
//     font-weight: bold;
//   }
// }
