---
import Layout from '../layouts/Layout.astro';
import NFDIMap from '~/components/NFDIMap.astro';
import { type MarkdownInstance } from "astro";
import MarkdownLayout from "~/layouts/MarkdownLayout.astro"
---

<Layout title = "">
    <div class="mx-auto w-full max-w-6xl pb-10 lg:py-12 lg:px-8">
        <NFDIMap/>
    </div>
</Layout>