---
import Layout from '../layouts/Layout.astro';
import MainPageCard from '../components/MainPageCard.astro';
import MainPageNews from '~/components/MainPageNews.astro';
import Banner from '~/components/Banner.astro';
import ARCLogoSVG from '~/assets/images/branding/ARCblue.svg'
import {Image} from 'astro:assets';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getCollection } from 'astro:content';
import NextEventBanner from '~/components/events/NextEventBanner.tsx';

const mainPageCards = await getCollection('mainpagecards');
const events = await getCollection('events');

---
<Layout title="Home">
  <div class="flex flex-col flex-grow place-content-center">
    <NextEventBanner events={events} client:load/>
    <div class="hero bg-base-200 min-h-[90vh]">
      <div class="hero overlay">
        <Image src={ARCLogoSVG} alt="ARC Logo" class="mx-auto md:hidden opacity-30"/>
        <Banner />
      </div>
      <div class="hero-content text-center md:hidden">
        <div class="max-w-md">
          <h1 class="text-4xl font-bold mb-4">Democratization of plant research.</h1>
          <h1 class="text-4xl font-bold mb-4">Made easy and free.</h1>
          <h1 class="text-4xl font-bold mb-4">for everyone!</h1>
          <CallToAction
            actions={[
              {
                variant: 'primary',
                text: 'Become a member',
                href: 'https://auth.nfdi4plants.org/realms/dataplant/protocol/openid-connect/auth?client_id=account&redirect_uri=https%3A%2F%2Fauth.nfdi4plants.org%2Frealms%2Fdataplant%2Faccount%2Flogin-redirect&state=0%2F2083ce25-95bf-4a38-ba82-0502f7060042&response_type=code&scope=openid',
                target: '_blank',
                icon: 'tabler:user-plus',
              },
            ]}
          >
        </div>
      </div>
    </div>
    <!-- show call to action only on larger screens below banner -->
    <CallToAction
      classes={{
        container: 'hidden md:block',
      }}
      actions={[
        {
          variant: 'primary',
          text: 'Become a member',
          href: 'https://auth.nfdi4plants.org/realms/dataplant/protocol/openid-connect/auth?client_id=account&redirect_uri=https%3A%2F%2Fauth.nfdi4plants.org%2Frealms%2Fdataplant%2Faccount%2Flogin-redirect&state=0%2F2083ce25-95bf-4a38-ba82-0502f7060042&response_type=code&scope=openid',
          target: '_blank',
          icon: 'tabler:user-plus',
        },
      ]}
    >
      <Fragment slot="title">
        <span style='font-family: "Shadows Into Light Two", cursive;'>DataPLANT</span>
      </Fragment>

      <Fragment slot="subtitle">
        Democratization of plant research made easy and free for everyone!
      </Fragment>
    </CallToAction>
    <div class="mx-auto w-full max-w-6xl pb-10 md:px-2 lg:py-12 lg:px-8">
      <div class="grid lg:grid-rows-5 grid-cols-1 md:gap-5 lg:gap-24">
          {
            mainPageCards
            .sort((a,b) => a.data.index - b.data.index)
            .map((card) => (
              <MainPageCard card={card}/>
            ))
          }
      </div>
    </div>
    <MainPageNews />
  </div>
</Layout>

