---
import Layout from '../layouts/Layout.astro';
import MainPageCard from '../components/MainPageCard.astro';

import { type MarkdownInstance } from "astro";
const files : MarkdownInstance<Record<string,any>> [] = await Astro.glob('../content/mainpagecards/*.md');

// console.log(
//   files.map((file) => file.frontmatter)
// )
---
<Layout title="DataPLANT - Home">
  <div class="flex flex-col flex-grow place-content-center">
    <div class="hero bg-base-200 min-h-[90vh]">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-4xl font-bold mb-4">Democratization of plant research.</h1>
          <h1 class="text-4xl font-bold mb-4">Made easy and free.</h1>
          <h1 class="text-4xl font-bold mb-4">for everyone!</h1>
          <button class="btn bg-lightblue text-2xl m-4">Become a member</button>
        </div>
      </div>
    </div>
    <div class="mx-auto w-full max-w-6xl pb-10 lg:py-12 lg:px-8">
      <div class="space-y-24 sm:px-6 lg:col-span-12 lg:px-0">
          {
            files
            .sort((a,b) => a.frontmatter.index - b.frontmatter.index)
            .map((file) => (
              <MainPageCard mainPageCardProps={file.frontmatter} html={file.compiledContent()}/>
            ))
          }
      </div>
    </div>
  </div>
</Layout>

