---
import MarkdownLayout from "~/layouts/MarkdownLayout.astro"
import { getCollection } from 'astro:content';


export async function getStaticPaths() {
  const newsCollection = await getCollection('news')
  return newsCollection.map((newsItem) => {
    return {
      params: { slug: newsItem.slug },
      props: { file: newsItem }
    }
  });
}

const { file } = Astro.props;

const { Content, headings } = await file.render();
---

<MarkdownLayout frontmatter={file.data} headings={headings}>
    <h3 class="text-neutral">{file.data.date.toDateString()}</h3>
    <Content />
</MarkdownLayout>
