---
import Features2 from '~/components/widgets/Features2.astro';
import {type Item} from '~/types';
import { getCollection } from 'astro:content';

const news = await getCollection('news')

const latest6: Item[] = 
  news
    .sort((a, b) => {
        const dateA = new Date(a.data.date).getTime();
        const dateB = new Date(b.data.date).getTime();

        return dateB - dateA;  // Sorts in descending order to get the latest first
      })
    .slice(0,6)
    .map((newsItem) => {
      const date = new Date(newsItem.data.date).toDateString();
      return {
        title: newsItem.data.title,
        description: newsItem.data.description,
        tagLine: date,
        callToAction: {
          href: "/news/" + newsItem.slug,
          text: 'Read More',
          variant: 'secondary',
        }
      }
    });
---

<Features2
    title="DataPLANT News"
    subtitle="Check out the latest developments"
    items={latest6}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-yellow-300"></div>
    </Fragment>
  </Features2>