---
import type { CollectionEntry } from 'astro:content';
import { bgColorMap, textColorMap } from "../statics"
import Hero2 from './widgets/Hero2.astro';

interface Props {
  hero: CollectionEntry<'subpage'>;
}

const hero = Astro.props.hero;
const props = hero.data;
// const sectionLinks = Astro.props.sectionLinks as SectionLink[]

const { Content } = await hero.render();

let bgColor = props.styling?.bgColor && bgColorMap.get(props.styling.bgColor)
let textColor = props.styling?.textColor && textColorMap.get(props.styling.textColor)
let titleColor = props.styling?.titleColor && textColorMap.get(props.styling.titleColor)
---

<Hero2
    id={hero.id}
    tagline={hero.data.tagline}
    actions={[
      // { variant: 'secondary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      // { variant: 'secondary', text: 'Learn more', href: '#features' },
    ]}
    image={hero.data.image}
  >
    <Fragment slot="title">
      <div class:list={[titleColor]} set:html={hero.data.title}></div>
    </Fragment>
    <Fragment slot="bg">
      <div class:list={["absolute inset-0", bgColor]}></div>
    </Fragment>
    <Fragment slot="subtitle">
      <div class:list={["prose-lg font-medium text-justify", textColor]}>
        <Content />
      </div>
    </Fragment>

</Hero2>