---
import Layout from "./Layout.astro";

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="w-full flex grow justify-center lg:py-10">
    <div class="prose lg:prose-lg xl:prose-xl">
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>
  </div>
</Layout>