---
import Layout from "./Layout.astro";
import SubpageHero from '~/components/SubpageHero.astro';
import SubpageCard from '~/components/SubpageCard.astro';
import MarkdownMask from "./MarkdownMask.astro";
import type { CollectionEntry } from 'astro:content';

interface Props {
  hero: CollectionEntry<'subpage'>;
  cards: CollectionEntry<'subpageContent'>[];
  title: string;
}

const hero = Astro.props.hero;
const cards = Astro.props.cards;
const title = Astro.props.title;

---
<Layout title={`DataPLANT - ${title}`}>
  <div>
    <SubpageHero hero={hero}></SubPageHero>
    <MarkdownMask frontmatter={hero.data}>
        {
          cards
          .map((card) => (
            <SubpageCard card={card}/>
          ))
        }
    </MarkdownMask>
  </div>
</Layout>
